 <div class="panel panel-default">
  <div class="panel-body"><h3>Products: <%= @products_count %> </h3>
    <%= link_to admin_products_path, class: 'btn btn-primary pull-right' do %>
      View Products List &raquo;
    <% end %>
  </div>
 </div>

 <div class="panel panel-default">
 <div class="panel-body"><h3>Categories: <%= @categories_count %> </h3>
   <%= link_to admin_categories_path, class: 'btn btn-primary pull-right' do %>
     View Categories List &raquo;
   <% end %>
 </div>
</div>