<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h4>Order confirmation sent to email: <%= @order.email %></h4>
  </div>
  <h3><%= render 'order', line_items: @line_items, order: @order%></h3>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>